{% extends "layout.html" %}
{% block title %}
    Index
{% endblock %}
{% block body %}
<p class="indentation"></p>
<div>
{% for produtos in produ %}
<div {{"id="~produtos.id}} class="section" onmouseout="mouseout(id)" onmouseover="mouseover(id)">
    <div {{"id="~produtos.id~"d"}} class="section_img">
        <img {{"id="~produtos.id~"img"}} {{"src="~produtos.picture}}>
    </div>
    <div class="section_text">
     <h4 {{"id="~produtos.id~"h4"}}>{{produtos.name}}</h4>
     <p {{"id="~produtos.id~"p"}}>{{"Price: $"~produtos.price}}<br>{{produtos.about}}</p>
     <form target="blank" action="/cart" method="POST">
        <input name="id" type="hidden" value="{{ produtos.id }}">
        <button type="submit" class="buttonhide" {{"id="~produtos.id~"m-o"}}>Add to Cart</button>
    </form>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
